<form [formGroup]="registerForm" class="flex flex-col" (ngSubmit)="onSubmit()">
    <input type="text" placeholder="Benutzername" formControlName="username" required>
    <input type="email" placeholder="E-Mail" formControlName="email" required>
    <input type="password" placeholder="Passwort" formControlName="password" required minlength="8">
    <span class="mt-1 text-text-400">Das Passwort sollte mindestens 8 Zeichen haben</span>
    <button class="mt-3" type="submit">Registrieren</button>
</form>
<div *ngIf="checkStatus == '200'" class="mt-3 bg-positive-50 p-4 rounded-md">
    <span>Registrierung erfolgreich! Sie können sich nun einloggen</span>
</div>
<div *ngIf="checkStatus == '418'" class="mt-3 bg-negative-50 p-4 rounded-md">
    <span>Registrierung fehlgeschlagen, E-Mail existiert bereits!</span>
</div>
<div *ngIf="checkStatus == '422'" class="mt-3 bg-negative-50 p-4 rounded-md">
    <span>Registrierung fehlgeschlagen!</span>
</div>
